<article>
  <h3>
      {{ site.title }}
  </h3>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
  </ul>
</article>
<article>
  <h3>
    Contact
  </h3>
  <ul>
    <li>
      <a href="http://amsterdam.github.io">Amsterdam Open Source</a>
    </li>
    <li>
      <a href="http://data.amsterdam.nl">data.amsterdam.nl</a>
    </li>
    <li>
      <a href="http://github.com/amsterdam">GitHub</a>
    </li>
    <li>
      <a href="mailto:algemeen.ois@amsterdam.nl">E-mail</a>
    </li>
  </ul>
</article>
