<a href="{{ site.baseurl }}/">
  {% if site.headerHideLogo != true %}
    <img src="{{ site.baseurl }}/assets/logo.svg" alt="City of Amsterdam Open Source" id="city-logo">
  {% endif %}
  {% if site.headerHideTitle != true %}
    <h1>{{ site.title }}</h1>
  {% endif %}
</a>
